body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.menu li:first-child .list-menu {
  color: #404bbf;
}
.header .container {
  display: flex;
  align-items: center;
}
address {
  margin-left: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.list-menu::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  color: #404bbf;
}
.span {
  color: #2e2f42;
}
.list-menu {
  position: relative;
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  position: relative;
}
.list:hover,
.list:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.contacts {
  display: flex;
  gap: 40px;
  list-style-type: none;
}
.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #434455;
}

.mail:hover,
.mail:focus {
  color: #404bbf;
}
.main {
  position: relative;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/goit-markup-hw-04/images/office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.main_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto 48px;
}
.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.title-pic {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.center {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.center_title {
  font-family: "Roboto" sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.icon {
  display: flex;
  justify-content: center;

  width: 264px;
  height: 112px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
.pic {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
}

.footer {
  background-color: #2e2f42;
}
.footer-span {
  color: #f4f4fd;
}
.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-bottom: 16px;
  margin-top: 0;
}
img {
  display: block;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.information {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  clip-path: inset(100%);
}
.first-list {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  padding-left: 0;
  list-style-type: none;
}
.spisok {
  flex-basis: calc((100% - 72px) / 4);
}
.name {
  padding: 32px 0;
}
.text-name {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
.li-pic {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.li-spisok {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li-spisok:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.extra {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.footer {
  padding: 100px 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.icon_footer {
  position: absolute;
  width: 208px;
  height: 80px;
  left: 540px;
  top: 3256px;
}
.spisok-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.ul-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.li-icon {
  width: 40px;
  height: 40px;
}
.a-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-icon:hover,
.a-icon:focus {
  background-color: #404bbf;
}
.svg-icon {
  fill: #f4f4fd;
}
.div-photo {
  position: relative;
  overflow: hidden;
}
.div-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
li:hover .div-text {
  transform: translateY(0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-footer {
  display: flex;
  align-items: baseline;
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 120px;
}
.logo-container {
  margin-right: 120px;
}

.footer-text-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}
.icon-class {
  display: flex;
  gap: 16px;
}
.li-icon-class {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.a-icon-class {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-icon-class:hover {
  background-color: #31d0aa;
}
.a-icon-class:focus {
  background-color: #31d0aa;
}
.svg-icon-class {
  fill: #f4f4fd;
}
.icon-class li:first-child .a-icon-class {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-icon {
  margin-right: 120px;
}
.modal {
  position: fixed;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 408px;
  height: 584px;
  background-color: #fefefe;
  border-radius: 4px;
  padding: 24px;
  gap: 24px;
}
.modal-text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-button {
  width: 24px;
  border-radius: 50%;
  align-self: flex-end;
}
.bottom-subcribe {
  gap: 24px;
}
.bottom-subcribe-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}
.bottom-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
